option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "reactool_be.settings"
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
  aws:elasticbeanstalk:container:python:
    WSGIPath: "reactool_be.wsgi:application"
  aws:elasticbeanstalk:environment:process:default:
    HealthCheckPath: "/"
    MatcherHTTPCode: "200-499"